<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="srcpath" value="E:\Projects\H51.0\WeixinWAP\Template\01\template.rar"/>
    <add key="despath" value="C:\Template"/>
  </appSettings>
</configuration>
